
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weekend Things To Do</title>
    <link rel="stylesheet" href="css/styles.css">
    <img src="/images/jonathan-exercise-unsplash.jpg" width = 100% height = 100% alt="woman exercising" />
  </head>
    
    <body>
