/*
Name: Brisa Carter
Assignment: Week 5 - weekend To do List
Description: Creates a list of things to do on the weekends
Date: 02/13/25
*/


html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #ef6838 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'Verdana';
  padding:8px;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #a50403;
  text-align: center;
  padding: 8px;
  color:#dfc4a9;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #007cb1;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #a50403;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #dfc4a9;
  color: #310202;
  font-size: 30px;
  border-width: 0;
/*added line-height to correct for vertical alignment */
  line-height: auto;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #392b13;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: rgb(255, 230, 0);
  text-align: center;
  background: white;
}
